$Principal-Color: rgb(2, 130, 249);
$Header-Color: white;
$Details-Color: white;
$Content-Color: rgb(28, 28, 28);
$Footer-Color: rgb(48, 48, 48);
$Status-Color: rgb(85, 186, 89);
$CurrentSeries-Color: rgb(0, 169, 217);
$DetailsText-Color: rgb(0, 63, 94);
$Azure-Color: rgb(54, 178, 225);
