/* GENERICS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
}

body {
  min-height: 100vh;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* UTILITIES */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-white {
  color: white;
}

.active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}

.fs-25 {
  font-size: 25px;
}

.d-flex {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.clickable {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

#blue-line {
  height: 30px;
  width: 100%;
  background-color: #0282f9;
}

#nav-bar {
  height: 120px;
  width: 100%;
  background-color: white;
}
#nav-bar .content {
  display: flex;
  align-items: center;
  height: 120px;
  width: 1200px;
}
#nav-bar .content img {
  height: 120px;
  padding: 20px;
}
#nav-bar .content .header-menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
#nav-bar .content .header-menu li {
  height: 120px;
  line-height: 120px;
  font-weight: bold;
}
#nav-bar .content .header-menu li a {
  padding: 10px;
  padding-bottom: 50px;
}

#top-jumbotron {
  height: 400px;
  width: 100%;
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#content {
  height: 600px;
  width: 100%;
  background-color: #1c1c1c;
}
#content .currentSeries {
  height: 40px;
  width: 180px;
  font-size: 17px;
  background-color: #0282f9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -3%;
  left: -38%;
}
#content .cdComics {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content .cdComics .cdComics-list {
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
#content .cdComics .cdComics-list .card {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 150px;
  margin: 15px;
}
#content .cdComics .cdComics-list .card figure {
  height: 85%;
  width: 100%;
}
#content .cdComics .cdComics-list .card figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#content .cdComics .cdComics-list .card .nameDc {
  display: flex;
  justify-content: flex-start;
  height: 15%;
  width: 100%;
}
#content .cdComics .cdComics-list .card .nameDc span {
  font-size: 11px;
  padding-top: 10px;
}
#content .cdComics .button {
  background-color: #0282f9;
  padding: 10px 50px;
  margin-top: 50px;
}

#nav-bar-menu {
  height: 150px;
  width: 100%;
  background-color: #0282f9;
  position: relative;
}
#nav-bar-menu .row {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-bar-menu .row .col {
  height: 100%;
  width: 20%;
}
#nav-bar-menu .row .col .row-pe {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-bar-menu .row .col .row-pe .col-4 {
  height: 100%;
  width: 33.3333333333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-bar-menu .row .col .row-pe .col-4 img {
  max-height: 50px;
  max-width: 50px;
  padding: 0;
  margin: 0;
}
#nav-bar-menu .row .col .row-pe .col-8 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
#nav-bar-menu .row .col .row-pe .col-8 span {
  color: white;
}

#jumbotron {
  height: 370px;
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#jumbotron .row {
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#jumbotron .row .col {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#jumbotron .row .col .row-between {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: start;
}
#jumbotron .row .col .row-between .col-3 {
  height: 100%;
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color: white;
}
#jumbotron .row .col .row-between .col-3 .row-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#jumbotron .row .col .row-between .col-3 .row-column .col-8 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  color: white;
}
#jumbotron .row .col .row-between .col-3 .row-column .col-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}
#jumbotron .row .col .row-between .col-3 h2 {
  font-size: 18px;
  padding-bottom: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#jumbotron .row .col .row-between .col-3 li {
  line-height: 20px;
}
#jumbotron .row .col .row-between .col-3 li a {
  color: grey;
}
#jumbotron .row .col-logo {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#jumbotron .row .col-logo img {
  max-height: 550px;
}

#footer {
  position: relative;
  height: 117px;
  width: 100%;
  background-color: #303030;
}
#footer .row {
  height: 117px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .row .col-1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#footer .row .col-1 .button {
  padding: 15px 25px;
  background-color: #303030;
  border: 2px solid #0282f9;
  color: white;
}
#footer .row .col-2 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#footer .row .col-2 .text-blue {
  font-size: 25px;
  font-weight: 600;
  margin-right: 30px;
  color: #0282f9;
}
#footer .row .col-2 ul {
  display: flex;
}
#footer .row .col-2 ul li {
  margin-right: 20px;
}